:root {
  --white: #fff;
  --black: #000;
  --text-color: #333;
  --btn-light: #fff;
  --btn-dark: #333;
  --accent-gradient: linear-gradient(
    135deg,
    #d9ed92,
    #99d98c,
    #52b69a,
    #168aad,
    #1e6091
  );
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  color: var(--text-color);
  font-size: 1.125rem;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  display: inline-block;
  color: var(--btn-light);
  border: 2px solid var(--btn-light);
  font-size: 1rem;
  font-weight: 500;
  background: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 10rem;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn:hover {
  background: var(--btn-light);
  color: var(--btn-dark);
}

.title {
  font-weight: 600;
}

.hide {
  opacity: 0;
}

nav {
  --text-color: #fff;
  position: fixed;
  height: 10vh;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  color: var(--text-color);
  z-index: 1000;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

nav.nav-scrolled {
  --text-color: #333;
  --btn-dark: #fff;
  --btn-light: #333;
  background: var(--white);
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2), 0 0.5rem 0.5rem rgba(0, 0, 0, 0.03);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2), 0 0.5rem 0.5rem rgba(0, 0, 0, 0.03);
}

nav .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
}

nav .container .logo {
  cursor: pointer;
}

nav .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav .container ul li {
  position: relative;
  font-weight: 500;
  margin-left: 1.5rem;
}

nav .container ul li:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav .container ul li::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  background: var(--text-color);
  border-radius: 20px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.hero {
  position: relative;
  height: 100vh;
  background: transparent;
  color: var(--white);
  padding-top: 10vh;
}

.hero .bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -3;
}

.hero .bg img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  z-index: -2;
}

.hero .bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 48, 0.5);
}

.hero > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero .hero-showcase {
  height: 80vh;
}

.hero .hero-showcase h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.scroll {
  height: 10vh;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.scroll span {
  height: 1.5rem;
  width: 1.5rem;
  border-bottom: 0.2rem solid var(--white);
  border-right: 0.2rem solid var(--white);
  border-bottom-right-radius: 0.3rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.gallery .container {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: (minmax(18.75rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  padding: 2rem 1rem;
}

.gallery-title {
  text-align: center;
  grid-column: 1 / -1;
}

footer {
  border-top: 1px solid #e3e3e3;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 1rem 5rem;
}

footer .container .column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .container .column ul {
  list-style: none;
}

footer .container .column ul h2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

footer .container .column ul li {
  font-size: 1rem;
  margin: 1rem 0;
}

footer .container .column ul li:hover {
  color: var(--black);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1;
  height: 10vh;
  background: #f7f7f8;
  padding: 0 2rem;
}

.socials .left,
.socials .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials .left h2 {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.socials .left p a {
  font-weight: 400;
  color: #1a759f;
}

.socials .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: #555;
  font-size: 1.25rem;
}

.socials .right ul li {
  margin-left: 1rem;
}
/*# sourceMappingURL=styles.css.map */